POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=setlistdb
DATABASE_URL=postgres://user:password@db:5432/setlistdb?sslmode=disable
VITE_ORIGIN=http://localhost:4000
JWT_SECRET=CekQDBZq6rrnru8A3CWJNh0Ie4+IkaLDx+pVDDzUnnJKjCSiPikIqDlujK3blLfq
BACKEND_INTERNAL_URL=http://backend:8089/api
ORIGIN=http://localhost:4000
REDIS_URL=redis://redis:6379
TRUSTED_PROXIES=127.0.0.1/32,::1/128,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
